swagger: '2.0'
info:
  version: 1.0.0
  title: Draft Orders API
  description: >
    # Draft Orders API 
      
      This API is about operations you can perform on the draft order object as defind below:
      
    
    Field | Definition | Data Type
      -----|-----------|-------------------------
      `id`| `id` of the draft order. |`string`
      `order_id`  | The id of the order associated to the draft order, once created. | `string`        
      `name` | Name of the draft order, format `#D<number>`, where number, is a sequential identifier unique to the shop, starting at 1. For example `#D133`. | `integer`
      `customer` | The customer associated with this draft order. This is a Read only object, but a different customer can be specified using cusotmer `id`.  Setting the value to null removes the customer from the draft order. | `object`
      `shipping_address` | The mailing address to where the draft order will be shipped. | `string`
      `billing_address` | The mailing address associated with the payment method. | `string`
      `note` | The text of an optional note that a shop owner can attach to the draft order. | `string`
      `email` | The email address used for sending notifications.  Deafults to `customer` email address when customr is present and `email` is not specified for the draft order. |`string`
      `currency` | The three letter code for the currency to be used for the payment.  Read only field that is provided here for convenience.  Also, a shop setting that can be set via the admin. | `string`
      `invoice_sent_at` | DateTime when the invoice was emailed to the customer by Shopify. | `dateTime`
      `invoice_url` | url that the customer uses to complete the checkout.  When using `send_invoice`, this url is emailed to the customer.  Enables your app to provide the url to the customer. | `string`
      `line_item`[ ] | A list of line item objects, each one containing information about an item in the draft order.  See [draft order description below](https://andrewjtech123.github.io/rebilly-validschema/#tag/Create) for detailed description of all properties.   | array of `line_item` objects
      `metafields`[ ] | Attaches additional information to a shop's resources.  See [draft order description below](https://andrewjtech123.github.io/rebilly-validschema/#tag/Create) for detailed description of all properties. | array of `metafield` objects
      `shipping_line` | object which details the shipping rate which has been selected for the draft order. The shipping line is automatically reset to null when the applied shipping rate is no longer valid.  See [draft order description below](https://andrewjtech123.github.io/rebilly-validschema/#tag/Create) for detailed description of all properties. | `object`
      `tags` | Tags are additional short descriptors, commonly used for filtering and searching, formatted as a string of comma-separated values. Each individual tag is limited to 40 characters in length. | `string`
      `tax_exempt` | Sets whether taxes are exempt for this draft order. If this value is `false`, Shopify will honor the `tax_exempt` value for each `line_item`. | `boolean`
      `tax_lines` | Tax lines describing the sum of each type of tax line for line items and shipping line. | array of `tax_line` objects
      `discount` | Order level discount. | `string`
      `taxes_included` | States whether or not taxes (from shop settings) are included in the draft order. Valid values are `true` or `false`. | `boolean`
      `total_tax` | Total tax amount | `integer`
      `completed_at` | Date at which an order was created and the draft order moved to “completed” status. | `DateTime`
      `created_at` | By default, this auto-generated property is the date and time when the order was created in Shopify, in ISO 8601 format. | `dateTime`
      `updated_at` | The date and time when the draft order was last updated. | `dateTime`
      `status` | String describing the state of the draft order. Possible values are `open`, `invoice sent`, or `completed`. | `string`
      

     

  
  x-draftorder: 
    type: object
    required:
    - title
    - rate
    - price
    properties:
      title:
        type: string
        description: title
      rate:
        type: string
        description: Rate for this tax
      price:
        type: string
        description: Total
        

  
schemes:
  - https
host: johns-apparel.myshopify.com

securityDefinitions:
  api_key:
    type: apiKey
    description: apikey security
    name: johns-api-key
    in: header

paths:
  /admin/draft_orders.json:
    get:
      description: Retrieve draft orders
      parameters:
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/since_id'
      - $ref: '#/parameters/status'
      - $ref: '#/parameters/ids'
    
      tags:
        - Get

      responses:
        '200':
          description: List of DraftOrder
          schema:
            $ref: '#/definitions/DraftOrder'
        
        '400':
          description: General API error
          schema:
            type: object
            properties:
              errors:
                  $ref: '#/definitions/Error'
       
            
      security:
        - api_key: []
            
      x-code-samples:
        - lang: curl
          source: curl https://myshopify.com/v1/admin/draft_orders.json
      
        - lang: Ruby
          source: |
              # load the gem
              require 'swagger_client'
              
              api_instance = SwaggerClient::GetApi.new
              
              opts = { 
                fields: "fields_example", # String | Comma-separated list of fields to include in the response
                limit: 789, # Integer | Page size
                page: 789 # Integer | Page to show
              }
              
              begin
                result = api_instance.admin_draft_orders_json_get(opts)
                p result
              rescue SwaggerClient::ApiError => e
                puts "Exception when calling GetApi->admin_draft_orders_json_get: #{e}"
              end
            
            
        - lang: PHP
          source: |
            <?php
            require_once(__DIR__ . '/vendor/autoload.php');
            
            $api_instance = new Swagger\Client\Api\GetApi();
            $fields = "fields_example"; // string | Comma-separated list of fields to include in the response
            $limit = 789; // int | Page size
            $page = 789; // int | Page to show
            
            try {
                $result = $api_instance->adminDraftOrdersJsonGet($fields, $limit, $page);
                print_r($result);
            } catch (Exception $e) {
                echo 'Exception when calling GetApi->adminDraftOrdersJsonGet: ', $e->getMessage(), PHP_EOL;
            }
            ?>
                  
        - lang: Python
          source: |
            
            # create an instance of the API class
            api_instance = Shopify.GetApi()
            fields = 'fields_example' # str | Comma-separated list of fields to include in the response (optional)
            limit = 789 # int | Page size (optional)
            page = 789 # int | Page to show (optional)
            
            try: 
                api_response = api_instance.admin_draft_orders_json_get(fields=fields, limit=limit, page=page)
                pprint(api_response)
            except ApiException as e:
                print "Exception when calling GetApi->admin_draft_orders_json_get: %s\n" % e

 


          
            
  
    post:
      summary: Create a draft order
      description: |
          ### About line items ###
          
          There are two ways to add a line item:<br>

          * Create a line item from a product variant, by providing a `variant_id`, `quantity` and `discount` (if applicable)
          * Create a custom line item by supplying `title`, `price`, `taxable` and `quantity` 
          
          
          
        
          | `Note`| The array of line items on a draft order must not contain a `variant_id` more than once. The data copied over from a variant upon creation of a line item is never subsequently updated.  |
          |---|-------------|
         
          
      tags:
        - Create

      parameters:
        - name: draft_order
          in: body
          description: draft_order to create.
          schema:
            allOf:
              - $ref: '#/definitions/DraftOrder'
            required:
            - id
            - name
            - note
            - currency
            - line_items
            - tax_exempt
            - tax_lines
            - discount
            - taxes_included
            - total_tax
            - subtotal_price
            - total_price
            - created_at
            - updated_at
            - status
          
            

      responses:
        '200':
          description: A single DraftOrder
          schema:
            $ref: '#/definitions/DraftOrder'
      
   
            
  '/admin/draft_orders/#{id}.json':
    get:
      description: Receive a single draft order
      tags:
        - Get
      parameters:
        - $ref: '#/parameters/fields'
        - name: id
          in: path
          description: draft order `id`.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: A single DraftOrder
          schema:
            $ref: '#/definitions/DraftOrder'
            
      x-code-samples:
        - lang: curl
          source: curl https://myshopify.com/v1/admin/draft_orders.json
      
        - lang: Ruby
          source: |
            # load the gem
            require 'swagger_client'
            
            api_instance = SwaggerClient::GetApi.new
            
            id = 789 # Integer | draft order id
            
            
            begin
              result = api_instance.admin_draft_ordersid_json_get(id)
              p result
            rescue SwaggerClient::ApiError => e
              puts "Exception when calling GetApi->admin_draft_ordersid_json_get: #{e}"
            end
            
            
        - lang: PHP
          source: |
            <?php
            require_once(__DIR__ . '/vendor/autoload.php');
            
            $api_instance = new Swagger\Client\Api\GetApi();
            $id = 789; // int | draft order id
            
            try {
                $result = $api_instance->adminDraftOrdersidJsonGet($id);
                print_r($result);
            } catch (Exception $e) {
                echo 'Exception when calling GetApi->adminDraftOrdersidJsonGet: ', $e->getMessage(), PHP_EOL;
            }
            ?>

                  
        - lang: Python
          source: |
            
            # create an instance of the API class
            api_instance = Shopify.GetApi()
            id = 789 # int | draft order id

            try: 
            api_response = api_instance.admin_draft_ordersid_json_get(id)
            pprint(api_response)
            except ApiException as e:
            print "Exception when calling GetApi->admin_draft_ordersid_json_get: %s\n" % e
            
            
    
    delete:
      description: Remove a draft order
      tags:
        - Delete
      parameters:
        - name: id
          in: path
          description: draft order id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The draft order deleted.
          schema:
            $ref: '#/definitions/DraftOrder'
  /admin/draft_orders/count.json:
    get:
      summary: Return count of draft orders
      description: You can return a count of draft orders by sending a GET request to the `/admin/draft_orders/count` endpoint.    
      parameters:
       - $ref: '#/parameters/fields'
       - $ref: '#/parameters/limit'
       - $ref: '#/parameters/page'
       - $ref: '#/parameters/since_id'
       - $ref: '#/parameters/status'
       - $ref: '#/parameters/ids'
      tags:
        - Get
      responses:
        '200':
           description: Count of draft orders
           $ref: '#/responses/Integer'

      x-code-samples:
        - lang: curl
          source: curl https://myshopify.com/v1/admin/draft_orders.json
      
        - lang: Ruby
          source: |
            # load the gem
            require 'swagger_client'
            
            api_instance = SwaggerClient::GetApi.new
            
            begin
              result = api_instance.admin_draft_orders_count_json_get
              p result
            rescue SwaggerClient::ApiError => e
              puts "Exception when calling GetApi->admin_draft_orders_count_json_get: #{e}"
            end
            
            
        - lang: PHP
          source: |
            <?php
            require_once(__DIR__ . '/vendor/autoload.php');
            
            $api_instance = new Swagger\Client\Api\GetApi();
            
            try {
                $result = $api_instance->adminDraftOrdersCountJsonGet();
                print_r($result);
            } catch (Exception $e) {
                echo 'Exception when calling GetApi->adminDraftOrdersCountJsonGet: ', $e->getMessage(), PHP_EOL;
            }
            ?>
                  
        - lang: Python
          source: |
            
            # create an instance of the API class
            api_instance = Shopify.GetApi()
            
            try: 
                api_response = api_instance.admin_draft_orders_count_json_get()
                pprint(api_response)
            except ApiException as e:
                print "Exception when calling GetApi->admin_draft_orders_count_json_get: %s\n" % e



  '/admin/draft_orders/#{id}/send_invoice.json':
    post:
      summary: Create an invoice for a draft order
      description: You can POST an invoice for a draft order by sending a call to the `/admin/draft_orders/#{id}/send_invoice.json` endpoint.  Additionally, you can send a `draft_order_invoice` object in the body of the request to override any of the default email parameters for the invoice.  
      tags:
        - Create
      parameters:
        - name: draft_order_invoice
          in: body
          description: draft_order_invoice to post.
          schema:
            allOf:
              - $ref: '#/definitions/draft_order_invoice'
            required:
            - to
            - from 
        - name: id
          in: path
          required: true
          type: integer


      responses:
        '201':
          description: draft order invoice
          schema:
            $ref: '#/definitions/draft_order_invoice'
  '/admin/draft_orders/#{id}/complete.json':
    put:
      description: Mark a draft order as paid or pending payment.
      tags:
        - Update
      parameters:
        - name: payment_gateway_id
          in: query
          description: >-
            Gateway used to receive payment. Either ID of custom manual gateway,
            or null if using the default “Mark As Paid” gateway.
          type: integer
          format: int64
        - name: paymentPending
          in: query
          description: true/false
          type: boolean
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: draft order
          schema:
            $ref: '#/definitions/DraftOrder'
  '/admin/draft_orders/#{id}/checkout.json':
    parameters:
      - $ref: '#/parameters/id'
    post:
      summary: Create or retrieve existing checkout
      description: >-
        A call to the `/admin/draft_orders/#{id}/checkout.json` endpoint works in conjunction with the Checkout API and requires the checkout scope.
      
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Checkout
          schema:
            $ref: '#/definitions/checkout'
      tags:
        - Create
definitions:
  DraftOrder:
    type: object
    properties:
      id:
        type: string
        description: The `id` of the draft order.
        readOnly: false
      order_id:
        type: string
        description: The `id` of the order associated to the draft order, once created.
        readOnly: false
      name:
        type: string
        description: Name of the draft order.
        readOnly: false
      customer:
        type: object
        $ref: '#/definitions/customer'
        
      shipping_address:
        type: string
        description: The mailing address to where the draft order will be shipped.
      billing_address:
        type: string
        description: The mailing address associated with the payment method.
      note:
        type: string
        description: The text of an optional note that a shop owner can attach to the draft order.
      email:
        type: string
        description: The email address used for sending notifications.
      currency:
        type: string
        description: The three letter code for the currency to be used for the payment.
        readOnly: true
      invoice_sent_at:
        type: string
        description: Date when the invoice was emailed to the customer.
        format: date-time
        readOnly: true
    
      invoice_url:
        type: string
        description: The url to send to the customer for completing the checkout.  When using `send_invoice`, this url is emailed to the customer.
        readOnly: true

      line_items:
        type: array
        description: Draft orders must include at least one `line_item`.
        items:
          $ref: '#/definitions/line_item'

      metafields:
        type: array
        $ref: '#/definitions/metafield'

      shipping_line:
        type: object
        $ref: '#/definitions/shipping_line'

      tags:
        type: string
        description: Tags are additional short descriptors, commonly used for filtering and searching, formatted as a string of comma-separated values. Each individual tag is limited to 40 characters in length.
      tax_exempt:
        type: boolean
        description: Sets whether taxes are exempt for this draft order. If this value is `false`, Shopify will honor the `tax_exempt` value for each `line_item`.
        enum:
        - true
        - false 
      tax_lines:
        type: array
        description: An array of `tax_line` objects, each of which details the taxes applicable to the checkout. 
        items:
          $ref: '#/definitions/tax_line'
        readOnly: true
      discount:
        type: object
        $ref: '#/definitions/discount'
        description: Order level discount.
      taxes_included:
        type: boolean
        description: States whether or not taxes are included in the order subtotal.
        readOnly: true
        enum:
        - true
        - false

      total_tax:
        type: string
        description: Total tax amount.
        readOnly: true

      subtotal_price:
        type: string
        description: Subtotal after discounts, before shipping and taxes have been applied.
        readOnly: true

      total_price:
        type: string
        description: Includes discounts, shipping and taxes.
        readOnly: true

      completed_at:
        type: string
        format: date-time
        description: Date at which an order was created and the draft order moved to “completed” status.
        readOnly: true
      created_at:
        type: string
        format: date-time
        description: By default, this auto-generated property is the date and time when the order was created in Shopify, in ISO 8601 format. If you are importing orders to the Shopify platform from another system, the writable `processed_at` property will override the `created_at date`.
        readOnly: true

      updated_at:
        type: string
        format: date-time
        description: The date and time when the draft order was last updated.
        readOnly: true

      status:
        type: string
        enum:
        - open
        - invoice_sent
        - completed
        description: String describing the state of the draft order - `open`, `invoice sent`, `completed`.
        readOnly: true

  draft_order_invoice:
    type: object
    properties:
      to:
        type: string
        description: >-
          Email associated with the `draft_order_invoice`.  If not specified, the email associated with the draft order, or the customer's email will be used instead.  If no email address is specified an error is raised.
          
      from:
        type: string
        description: The email address that the email will appear to be sent from. This defaults to the shop's customer email, and if none exists, simply the shop's account email. When provided, this email address must correspond to the email address of one of the staff accounts.
      bcc:
        type: string
        description: Optional array of email addresses to bcc. These must correspond to valid staff account email addresses.
      subject:
        type: string
        description: The subject of the email that will be sent. When not provided, defaults to the Draft Order Invoice template's subject, as specified in the shop's Notification settings.
      custom_message:
        type: string
        description: An optional custom message inserted in the email's body.
  checkout:
    type: object
    properties:
      to:
        type: string
        description: >-
          Email associated with the `draft_order_invoice`.  If not specified, the email associated with the draft order, or the customer's email will be used instead.  If no email address is specified an error is raised.
          
      from:
        type: string
        description: Email address that the email will appear to be sent from. This defaults to the shop's customer email, and if none exists, simply the shop's account email. When provided, this email address must correspond to the email address of one of the staff accounts.
      bcc:
        type: string
        description: array of staff account e-mail addresses.
      subject:
        type: string
        description: The subject of the email that will be sent. When not provided, defaults to the Draft Order Invoice template's subject, as specified in the shop's Notification settings.
      custom_message:
        type: string
        description: An optional custom message inserted in the email's body.
  line_item:
    type: object
    discriminator: custom
    properties:
      custom:
        description: Indicates if the line item is a custom line item.  `false` if the line item is a product variant, `true` if the line item is `custom`.  This field should not be sent when creating draft orders.  The `custom` field is recommended for filtering GET queries to the draft orders endpoint.
        type: boolean
        enum: 
        - true
        - false
      id:
          type: string
          description: Can’t be null
          readOnly: true
      variant_id:
          type: string
          description: The `id` of the product variant corresponding to the `line_item`.
          readOnly: false
      product_id:
          type: string
          description: The `id` of the product corresponding to the line item’s product variant.
      name:
          type: string
          description: The readable name of the product and variant.
      variant_title:
          type: string
          description: The title of the product variant.  Default value is “Custom”.
      vendor:
          type: string
          description: vendor
      quantity:
          type: string
          description: quantity
      gift_card:
          type: boolean
          description: Indicates if the product is a gift card. Values - `true` or `false`.
      fulfillment_service:
          type: string
          description: Service provider who is doing the fulfillment. Valid values are either `manual` or the name of the provider. eg `amazon`, `shipwire`, etc.  Defaults to `manual` for custom line items.
      properties:
          type: string
          description: An array of custom information for an item that has been added to the cart. Often used to provide product customization options. For more information, see the [documentation on collecting customization information on the product page](https://help.shopify.com/themes/customization/products/get-customization-information-for-products).
      discount:
          type: object
          $ref: '#/definitions/discount'
      tax_line:
          type: array
          items:
            $ref: '#/definitions/tax_line'
      
        
  custom_line_item_true:
    description: custom line item
    allOf:
    - $ref: '#/definitions/line_item'
    - type: object
      required:
      - title
      - price
      - grams
    
      properties:
        title:
          type: string
          description:  The title of the product or variant.  Can only be specified if this is a custom line item, in which case it is mandatory.
        price:
          type: string
          description: The price of the item before discounts have been applied.  Can only be specified if this is a custom line item, in which case it is mandatory.  To change the price of a product, use `discount` as specified below.
        grams:
          type: string
          description: Weight in grams.  Can only be specified if this is a custom line item.  If not specified, defaults to `0`.
        requires_shipping:
          type: boolean
          description: States whether or not the fulfillment requires shipping. Values are `true` or `false`.  Can only be specified if this is a custom line item.  Defaults to `false`.
        sku:
          type: string
          description: Can only be specified if this is a custom line item.
        taxable:
          type: boolean
          description: States whether or not the product is taxable. Values are `true` or `false`.  Can only be specified if this is a custom line item.  Mandatory for custom products.

  custom_line_item_false:      
    description: regular line item
    allOf:
    - $ref: '#/definitions/line_item'

    
  
  shipping_rate:
    type: object
    required:
    - handle
    - title
    - price
    properties:
      handle:
        type: string
        description: handle of the shipping rate.
      title:
        type: string
        description: The shipping method name.
      price:
        type: string
        description: The price of the shipping rate.


  shipping_line:
    type: object
    required:
    - title
    - price
    - tax_lines
    discriminator: custom
    properties:
      custom:
        description: Indicates if the shipping_line is custom.  This field should not be sent when creating draft orders.  The `custom` field is recommended for filtering GET queries to the draft orders endpoint.
        type: boolean
        enum: 
        - true
        - false
  
      title:
        type: string
        description: The title of the shipping method.
        readOnly: true
      price:
        type: integer
        format: int64
        description: The price of this shipping method.
        readOnly: true
      phone:
        type: string
        description: The phone number, if required as specified in the `shipping_rate`.
      tax_lines:
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/tax_line'
      

  custom_shipping_line_false:
    allOf:
    - $ref: '#/definitions/shipping_line'
    - type: object
    required:
    - title
    - price
    - tax_lines
    properties:
      handle:
        type: string
        description: The handle of the shipping rate which was selected and applied
    
      
  custom_shipping_line_true:
    allOf:
    - $ref: '#/definitions/shipping_line'
    - type: object
    required:
    - title
    - price
    - tax_lines
    properties:
      handle:
        type: string
        description: Nil for custom lines.
         

  metafield:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: Unique numeric identifier for the metafield.

  tax_line:
    type: object
    required:
    - title
    - rate
    - price
    properties:
      title:
        type: string
        description: The name of the tax.
      rate:
        type: string
        description: The rate of tax to be applied.
      price:
        type: string
        description: The amount of tax to be charged.

  discount:
    type: object
    required:
    - description
    - value
    properties:
      description:
        type: string
        description: Reason for the discount.
      value:
        type: string
        description: The value of the discount. If the type of the discount is `fixed_amount`, then this is a fixed dollar amount, if the type is `percentage`, then this is the percentage. 
      type:
        type: string
        description: The type of the discount. Can be one of - `percentage` or `fixed_amount`. `Fixed_amount` is default value.
        enum:
        - percentage
        - fixed_amount (default)

      amount:
        type: string
        description: The applied amount of the discount.

  customer:
    type: object
    description: Customer to be associated with the draft order; however only the `id` can be set in order to associate the customer to the draft order.  Setting the value to null removes the customer from the draft order.
    properties:
      accepts_marketing:
        type: boolean
        description: Indicates whether or not the customer would like to receive email updates from the shop. Valid values are `true` and `false`.
      created_at: 
        type: string
        format: date-time
        description: The date and time when the customer record was created.
      email:
        type: string
        description: The customer's email address.
      first_name:
        type: string
        description: The customer's first name.
      order_id:
        type: integer
        format: integer
        description: Unique numeric identifier for the customer.
      last_name:
        type: string
        description: Customer's last name.
      note: 
        type: string
        description: Extra information about the customer.
      orders_count:
        type: integer
        description: The number of orders placed by this customer to a shop.
      state:
        type: string
        description: Description.
      total_spent:
        type: integer
        description: Total amount spent by the customer.
      updated_at: 
        type: string
        format: date-time
        description: The date and time when the customer record was last updated.
      tags:
        type: string
        description: Tags are additional short descriptors, commonly used for filtering and searching, formatted as a string of comma-separated values. For example, if an order has three tags - `tag1`, `tag2`, `tag3`.

  Error:
    type: object
    description: Object describing errors (values) on specific attributes (keys) that prevented a draft order from being saved.
    additionalProperties:
      description: Single `key:value` pair out of possible multiple retruned to describe errors on specific attributes.
      properties:
        key:
          type: string
          description: Attribute that raised the error.
        value: 
          type: string
          description: Error description.
            
      

  Integer:
    properties:
      integer:
        type: integer
        format: int64
        
  Object:
    properties:
      object:
        type: object

parameters:
  fields:
    name: fields
    in: query
    description: Comma-separated list of fields to include in the response.
    required: false
    type: string


  limit:
    name: limit
    in: query
    required: false
    description: Page size.
    type: integer
    format: int64
  page:
    name: page
    in: query
    type: integer
    format: int64
    required: false
    description: Page to show.
  id:
    name: id
    in: query
    required: false
    description: id of the draft order.
    type: string
    
  since_id:
    name: since_id
    in: query
    description: Restrict results to be after given ID
    required: false
    type: string
  status:
    name: status
    in: query
    type: string
    description: Filter by status.
    enum:
    - open
    - invoice_sent
    - completed
  ids:
    name: ids
    type: string
    in: query
    description: Filter by list of ids.
    


responses:
  Error:
    description: Object describing errors.
    schema:
      $ref: "#/definitions/Error"
  Integer:
    description: count of draft orders
    schema:
      $ref: "#/definitions/Integer"
  Object:
    description: empty object signifying that the draft order is deleted.
    schema:
      $ref: "#/definitions/Integer"
     
    
